body{
    background-color: #cdcdcd;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}

#signup_container{
    width: 50vh;
    height: 60vh;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px black;
    margin-top: 15vh;
}

h1{
    margin-bottom: 3vh;
}

.form-group{
    margin-bottom: 2vh;
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"],input[type="email"],input[type="password"]{
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button[type="submit"]{
    padding: 10px 20px;
    background-color: #FF7F56;
    border-radius: 10px;
    font-size: 2.5vh;
    cursor: pointer;
    border: none;
}

button[type="submit"]:hover {
    background-color: #ff9e7e;
}

p {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #FF7F56;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
