#main_page{
    /* border: 2px solid black; */
    margin-left: 16%;
    width: auto;
    height: 150vh;
    position: absolute;
}

/* This is the area for the initial search bar */

.search_bar{
    margin-top: 5vh;
    margin-left: 5vh;
    
}

.search_body{
    width: 120vh;
    height: 5vh;
    border: none;
    font-size: 2.6vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

/* This is the area for the category tag to be open when togle... */

#category_box{
    position: absolute;
    margin-left: 5vh;
    margin-top: 2vh;
    /* border: 1px solid black; */
    background-color: #e1e1e1;
    height: 6vh;
    width: 80vh;
    cursor: pointer;
}

.category_name{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.6vh;
    margin-left: 2vh;
    margin-top: 1.5vh;
    font-weight: 550;
}

#category_panel{
    position: absolute;
    /* border: 1px solid black; */
    margin-top: 8vh;
    margin-left: 10vh;
    background-color: #e1e1e1;
    width: 70vh;
    display: none;
    box-shadow: 0 2px 2px rgb(0, 0  , 0);
}

#category_panel.active{
    display: block;
}

.category_1{
    font-size: 3vh;
    text-decoration: none;
    color: #4d4d4d;
    margin-left: 4vh;
}

li{
    margin-bottom: 2vh;
}

a:hover{
    color: blue;
}

/* This is the area for the search collection bar. */
.search_collection{
    margin-top: 9vh;
    margin-left: 5vh;
}

.search_body1{
    width: 80vh;
    height: 5vh;
    border: none;
    font-size: 2.6vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

#category_nav{
    margin-left: 92vh;
    margin-top: 5vh;
    text-decoration: none;
}

.a_nav{
    text-decoration: none;
    margin-left: 1vb;
}

/* Section for the initial main content in H1 and p */

.main_head{
    margin-left: 20vh;
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5.5vh;
    color: #1d1de6;

}

.main_para{
    margin-left: 20.5vh;
    margin-top: 3vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5vh;
}